#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_ronpaulcoin
#build/ronpaulcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_ronpaulcoin)

DEB_INSTALL_EXAMPLES_ronpaulcoind += debian/examples/*
DEB_INSTALL_MANPAGES_ronpaulcoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix ronpaulcoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f ronpaulcoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake ronpaulcoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_ronpaulcoin
	src/test_ronpaulcoin

# Ensure wrapper is set executable
binary-post-install/ronpaulcoind:
	chmod +x $(cdbs_curdestdir)usr/bin/ronpaulcoind
binary-post-install/ronpaulcoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/ronpaulcoin-qt
